
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" href="#" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Nbo Analysis</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <!-- Dashboard -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Dashboard</label>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <!-- Datasets -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Datasets</label>
                    </li>
                    <li class="nav-item"><a href="/data/load" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Load datasets</span></a></li>
                    <li class="nav-item"><a href="/data/index" class="nav-link"><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Saved datasets</span></a></li>

                    <!-- Analysis -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Analysis</label>
                    </li>
                    <li class="nav-item"><a href="/analysis/launch" class="nav-link"><span class="pcoded-micon"><i class="feather icon-activity"></i></span><span class="pcoded-mtext">Analysis</span></a></li>
                    <li class="nav-item"><a href="/analysis/results" class="nav-link"><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Results</span></a></li>

                    <!-- Other menu items -->
                    <li class="nav-item pcoded-menu-caption">
                        <label>Others</label>
                    </li>
                    <li class="nav-item"><a href="/page-blank" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sliders"></i></span><span class="pcoded-mtext">Settings</span></a></li>
                    <li class="nav-item">
                        <a href={% url 'logout' %} class="nav-link">
                            <span class="pcoded-micon">
                                <i class="feather icon-power"></i>
                            </span>
                            <span class="pcoded-mtext">Logout - [ {{ request.user.username }} ]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
