{% extends "layouts/base.html" %}

{% block title %} Load Dataset {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title"></div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Datasets</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Load datasets</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Load dataset</h5>
                                <div class="row mt-5">
                                    <div class="col-md-12 mb-3">
                                        <label>Dataset File</label><br/>
                                        <i class="feather icon-file" id="choose-file-icon"></i>
                                        <div id="file-name"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Name</label>
                                        <input type="text" name="dataset_name" class="form-control">
                                    </div>
                                    <div class="col-md-9 pl-5">
                                        <label>Description</label>
                                        <input type="text" name="dataset_description" class="form-control">
                                    </div>
                                    <div class="col-md-2 mt-4">
                                        <div class="form-check">
                                            <input class="form-check-input" name="Allow_missing_values" type="checkbox">
                                            <label class="form-check-label" for="defaultCheck1">Allow missing values</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-5">
                                        <div class="float-right">
                                            <input type="file" name="dataset" accept=".csv" style="display: none">
                                            <button class="btn btn-success mb-3" id="load-dataset-btn" disabled>Load dataset <i class="fas fa-spinner fa-pulse" style="display: none" id="file-upload-spinner"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="visual" class="text-center mt-5 mb-5"></div>
                            </div>
                            {% comment %} <div class="card-block table-border-style">
                                
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/load.js"></script>

{% endblock javascripts %}