{% extends "layouts/base.html" %}
{% load template_filters %}


{% block title %} Update Dataset {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"></h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Datasets</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Update dataset</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Dataset</h5>
                                <button class="btn btn-success mb-3 float-right" id="update-dataset-btn">Update</button>
                            </div>
                            <div class="card-block table-border-style">
                                <h5>Dataset information</h5>
                                <div class="row mb-5">
                                    <div class="col-sm-col-6 pl-3">
                                        <div class="form-group">
                                            <label for="dataset-title" class="label">Title</label>
                                            <input id="dataset-description" type="text" class="form-control" value="{{ dataset.title }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                                <label for="dataset-description" class="label">Description</label>
                                                <textarea id="dataset-description" class="form-control" rows="3">{{ dataset.description }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <h5>Attributes information</h5>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                {% for f in fields %}
                                                <th>{{ f }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for attribute in dataset.attributes.all %}
                                            <tr>
                                                {% for f in fields %}
                                                <td><input type="text" class="form-control" name="{{ f }}[{{ attribute.id }}]" value="{{ attribute|get_item:f }}"></td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(function () {
    });
</script>

{% endblock javascripts %}