{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ statistics year chart ] start -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-file f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ datasets }}</h3>
                                        <span class="d-block text-uppercase">DATASETS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-more-vertical f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ records }}</h3>
                                        <span class="d-block text-uppercase">RECORDS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-more-horizontal f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ attributes }}</h3>
                                        <span class="d-block text-uppercase">ATTRIBUTES</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-pie-chart f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300">{{ results }}</h3>
                                        <span class="d-block text-uppercase">RESULTS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ statistics year chart ] end -->
                </div>
                <!-- [ Main Content ] end -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="card-header">
                                    <h5>Last Executions</h5>
                                </div>
                                <div class="col-md-12 m-b-30 ">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Dataset</th>
                                                <th>Algorithm</th>
                                                <th>Time</th>
                                                <th>Executed At</th>
                                                <th class="text-right"></th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for log in logs %}
                                            <tr>
                                                <td>
                                                    <h6 class="m-0"><a href="/data/view/{{log.dataset.id}}">{{ log.dataset.title }}</a></h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ log.method }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ log.exec_time }}</h6>
                                                </td>
                                                <td>
                                                    <h6 class="m-0">{{ log.created_at }}</h6>
                                                </td>
                                                <td class="text-right"><i class="fas fa-circle text-c-{% if log.status is True %}green{% else %}red{% endif %} f-10"></i></td>
                                                <td>
                                                    <h6 class="m-0 text-c-{% if log.status is True %}green{% else %}red{% endif %}">{% if log.status is True %} Success {% else %} Failed {% endif %}</h6>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}