{% extends "layouts/base.html" %}

{% block title %} Launch Analysis {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    #result-visual {
        opacity: 0;
        height: 500px
    }

    .viewer-container.viewer-backdrop {
        height: 500px !important;
    }

    .viewer-container.viewer-backdrop.viewer-fixed {
        height: auto !important;
    }
</style>

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Launch Analysis Algorithm</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Analysis</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Launch Analysis</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Clustering</h5>
                            </div>
                            <div class="card-block exec-block">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-info row">
                                            <div><i class="fas fa-question-circle"></i></div>
                                            <div class="col-md-11" id="algo-info"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Dataset</label>
                                            <select name="dataset" class="form-control">
                                                {% comment %} <option selected disabled></option> {% endcomment %}
                                                {% for dataset in datasets %}
                                                <option value="{{ dataset.id }}">{{ dataset.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="method">Clustering Mothod</label>
                                            <select name="method" class="form-control">
                                                {% comment %} <option selected disabled></option> {% endcomment %}
                                                {% for algorithm in algorithms %}
                                                <option value="{{algorithm.method}}" data-info='{{ algorithm.info }}'>
                                                    {{ algorithm.label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="clustersNumber">Number of Clusters</label>
                                            <input type="number" name="clustersNumber" class="form-control" min="2"
                                                max="100" value="6">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="samplingPoints">Sampling Points</label>
                                            <input type="number" name="samplingPoints" class="form-control" min="1"
                                                max="6" value="30">
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="display: none">
                                        <div class="form-group">
                                            <label for="clustersNumber">Linkage Method <a
                                                    href="https://scikit-learn.org/stable/auto_examples/cluster/plot_linkage_comparison.html#"
                                                    target="_blank"><i class="fas fa-question-circle"></i></a></label>
                                            <select name="linkageMethod" class="form-control" disabled>
                                                {% comment %} <option selected disabled></option> {% endcomment %}
                                                {% for linkageMethod in linkageMethods %}
                                                <option value="{{ linkageMethod.method }}">{{ linkageMethod.label }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 mt-3">
                                        <div class="form-group">
                                            <label for="pcaComponents">PCA components
                                                <i class="fas fa-question-circle"
                                                    title="Not applied [x = 0] - number of components [>= 3] - percentage [0 < x < 1]"></i></a>
                                            </label>
                                            <input type="number" name="pcaComponents" class="form-control" min="0"
                                                max="100">
                                        </div>
                                    </div>
                                    <div class="col-sm-8"></div>
                                    <div class="ml-auto col-sm-6">
                                        <button class="btn btn-success float-right run-btn">Run</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} indexes {% endcomment %}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-alert-circle f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300" id="dbi">0</h3>
                                        <span class="d-block text-uppercase">Davies-Boulding Index</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-alert-circle f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300" id="cs">0</h3>
                                        <span class="d-block text-uppercase">Calinski-Harbantz Index</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-alert-circle f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300" id="ss">0</h3>
                                        <span class="d-block text-uppercase">Silhouette Score</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row d-flex align-items-center">
                                    <div class="col-auto">
                                        <i class="feather icon-alert-circle f-30 text-c-green"></i>
                                    </div>
                                    <div class="col">
                                        <h3 class="f-w-300" id="di">0</h3>
                                        <span class="d-block text-uppercase">Dunn Index</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} indexes {% endcomment %}
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Result</h5>
                                <div class="btn-group float-right ml-2">
                                    <button class="btn btn-success zip-download-btn" onclick="window.location = '/api/analysis/donwload-clusters-zip'" disabled>
                                        <i class="fas fa-download mx-0"></i></button>
                                </div>
                                <div class="btn-group float-right ml-2">
                                    <button class="btn btn-primary save-btn" disabled><i
                                            class="far fa-save mx-0"></i></button>
                                </div>
                                
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item mr-1">
                                            <a class="nav-link active" id="matplotlib-tab" data-target-tab="matplotlib"
                                                data-toggle="tab" href="#matplotlib">Matplotlib</a>
                                        </li>
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="3d-pca-tab" data-target-tab="3d-pca"
                                                data-toggle="tab" href="#3d-pca">3D
                                                PCA</a>
                                        </li>
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="3d-tsne-tab" data-target-tab="3d-tsne"
                                                data-toggle="tab" href="#3d-tsne">t-SNE</a>
                                        </li>
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="para-coord-tab" data-target-tab="para-coord"
                                                data-toggle="tab" href="#para-coord">Parallel Coordinates</a>
                                        </li>
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="para-centroids-tab" data-target-tab="para-centroids"
                                                data-toggle="tab" href="#para-centroids">Parallel Centroids</a>
                                        </li>
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="centroids-pc-tab" data-target-tab="centroids-pc"
                                                data-toggle="tab" href="#centroids-pc">Centroids Barplots</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="ml-auto col-sm-12 text-center">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane show active" id="matplotlib" role="tabpanel">
                                                <div id="visual-pca3d" style="height: 90vh;" data-viewer-set="false">
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="3d-pca" role="tabpanel">
                                                <iframe id="3d_pca_iframe" src=""
                                                    style="width: 100%; height: 90vh; border: none;"></iframe>
                                            </div>
                                            <div class="tab-pane" id="3d-tsne" role="tabpanel">
                                                <iframe id="3d_tsne_iframe" src=""
                                                    style="width: 100%; height: 90vh; border: none;"></iframe>
                                            </div>
                                            <div class="tab-pane" id="para-coord" role="tabpanel">
                                                <div id="visual-parallelCoord" style="height: 90vh;"
                                                    data-viewer-set="false"></div>
                                            </div>
                                            <div class="tab-pane" id="para-centroids" role="tabpanel">
                                                <div id="visual-parallelCentroids" style="height: 90vh;"
                                                    data-viewer-set="false"></div>
                                            </div>
                                            <div class="tab-pane" id="centroids-pc" role="tabpanel">
                                                <div id="visual-centroidsPc" style="height: 90vh;"
                                                    data-viewer-set="false"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- <script>window.MathJax = { MathML: { extensions: ["mml3.js", "content-mathml.js"] } };</script> -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
        extensions: ["mml2jax.js"],
        jax: ["input/MathML", "output/HTML-CSS"]
    }); 
</script>
<script>
    $(document).ready(function () {
        $('.run-btn').on('click', () => {
            const submitBtn = $(this)
            if ($('select[name=dataset]').val() && $('select[name=method]').val()) {
                submitBtn.attr('disabled', 'disabled')
                $('#results-container').html('<i class="fas fa-spinner fa-pulse"></i>')
                $('#3d_pca_iframe').attr('src', '')
                $('#3d_tsne_iframe').attr('src', '')
                $('#di').html(0)
                $('#cs').html(0)
                $('#ss').html(0)
                $('#dbi').html(0)
                $('#myTabContent .tab-pane > div').attr('data-viewer-set', false).html('')
                $('.viewer-container.viewer-backdrop').remove()
                $('#myTabContent .tab-pane > ifram').attr('src', '#')

                $('.card-block.exec-block').LoadingOverlay("show")

                $('.save-btn').attr('disabled', 'disabled')
                $('.zip-download-btn').attr('disabled', 'disabled')

                $.ajax({
                    url: '/api/analysis/clustering',
                    method: 'POST',
                    data: {
                        method: $('select[name=method]').val(),
                        datasetId: $('select[name=dataset]').val(),
                        clustersNumber: $('input[name=clustersNumber]').val(),
                        samplingPoints: $('input[name=samplingPoints]').val(),
                        linkageMethod: $('select[name=linkageMethod]').val(),
                        pcaComponents: $('input[name=pcaComponents]').val()
                    },
                    dataType: 'json',
                    timeout: 0,
                    success: function (data) {
                        $('.card-block.exec-block').LoadingOverlay("hide")
                        submitBtn.removeAttr('disabled')

                        if (data.status) {
                            $('.save-btn').removeAttr('disabled')
                            $('.zip-download-btn').removeAttr('disabled')

                            // indexes
                            $('#di').html(data.indexes.di)
                            $('#cs').html(data.indexes.cs)
                            $('#ss').html(data.indexes.ss)
                            $('#dbi').html(data.indexes.dbs)
                            // 3d plots
                            $('#3d_pca_iframe').attr('src', '/3d_pca')
                            $('#3d_tsne_iframe').attr('src', '/3d_tsne')

                            Object.entries(data.visuals).map(([key, value]) => ({ key, value })).forEach(item => {
                                $('#visual-' + item.key).html(item.value);
                                $('#visual-' + item.key).closest('.tab-pane').each((i, parentItem) => {
                                    if ($(parentItem).hasClass('active') || $(parentItem).hasClass('show')) {
                                        $('#visual-' + item.key).attr('data-viewer-set', true)
                                        setImageViewer('#visual-' + item.key + ' img');
                                    }
                                })

                            });

                            window.result = data
                            toastr.success('Execution completed successfuly', { timeOut: 6000 })
                        } else {
                            toastr.error(data.message, 'Execution Failed!')
                        }
                    },
                    error: function (err) {
                        submitBtn.removeAttr('disabled')
                        toastr.error('Server Error', 'Execution Failed!')
                        console.log(err)
                    }
                })
            } else alert('Please select options first')
        })

        // Save resutl
        $('.save-btn').on('click', () => {
            const submitBtn = $(this)
            submitBtn.attr('disabled', 'disabled')

            $.ajax({
                url: '/api/analysis/save-result',
                method: 'POST',
                data: {
                    datasetId: window.result.datasetId,
                    method: window.result.method,
                    indexes: JSON.stringify(window.result.indexes),
                    ...window.result.visuals
                },
                dataType: 'json',
                timeout: 0,
                success: function (data) {
                    submitBtn.removeAttr('disabled')
                    toastr.success('Result saved successfuly', {
                        timeOut: 3000
                    })
                },
                error: function (err) {
                    submitBtn.removeAttr('disabled')
                    toastr.error(err.responseJSON.message, 'unexpected error')

                }
            })
        })

        $('#algo-info').html($('[name=method]').children("option:selected").attr('data-info'))
        $('[name=method]').on('change', e => {
            const op = $(e.target).children("option:selected")
            console.log(op.attr('data-info'))
            $('#algo-info').html(op.attr('data-info'))

            if (op.val() != 'hierarchical') $('[name=linkageMethod]').attr('disabled', 'disabled')
            else $('[name=linkageMethod]').removeAttr('disabled')
        })


        $('#myTab .nav-link').bind('click', e => {
            let selector = '#' + $(e.target).data('target-tab') + ' > div';
            if ($(selector) != undefined && $(selector).attr('data-viewer-set') == 'false' && $(selector).html() != '') {
                $(selector).attr('data-viewer-set', true)
                setImageViewer(selector + ' img')
            }
        })
    });


    // private 
    function setImageViewer(selector) {
        new Viewer($(selector)[0], {
            inline: true,
            // viewed() {
            //    viewer.zoomTo(0.2);
            // },
            toolbar: {
                zoomIn: 4,
                zoomOut: 4,
                oneToOne: 4,
                reset: false,
                prev: false,
                play: {
                    show: 4,
                    size: 'large',
                },
                next: false,
                rotateLeft: 4,
                rotateRight: 4,
                flipHorizontal: false,
                flipVertical: false,
            },
        });
    }
</script>

{% endblock javascripts %}