{% extends "layouts/base.html" %}

{% block title %} Optimum Clusters Number {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"></h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Analysis</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Optimum Clusters Number</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Optimum Clusters Number</h5>
                            </div>
                            <div class="card-block exec-block">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Dataset</label>
                                            <select name="dataset" class="form-control">
                                                <option selected disabled></option>
                                                {% for dataset in datasets %}
                                                <option value="{{dataset.id}}">{{ dataset.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="method">Mothod</label>
                                            <select name="method" class="form-control">
                                                <option selected disabled></option>
                                                {% for algorithm in algorithms %}
                                                <option value="{{algorithm.method}}">{{ algorithm.label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="maxIterationsNumeber">Iterations Number</label>
                                            <input type="number" name="maxIterationsNumeber" class="form-control"
                                                min="2" max="100">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 mt-3">
                                        <div class="form-group">
                                            <label for="pcaComponents">PCA components
                                                <i class="fas fa-question-circle" title="Not applied [x = 0] - number of components [>= 1] - percentage [0 < x < 1]"></i></a>
                                            </label>
                                            <input type="number" name="pcaComponents" class="form-control" min="0"
                                                max="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ml-auto col-sm-6">
                                        <button class="btn btn-success float-right submit-btn">Run</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Result</h5>
                                {% comment %} <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <button type="button" class="btn btn-secondary btn-lg active">Matplotlib</button>
                                    <button type="button" class="btn btn-secondary btn-sm">D3</button>
                                </div> {% endcomment %}
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="ml-auto col-sm-12 text-center">
                                        <div id="results-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% comment %} <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script> {% endcomment %}
<script>
    $(function () {
        $('.submit-btn').on('click', function () {
            const submitBtn = $(this)
            if ($('select[name=dataset]').val() && $('select[name=method]').val()) {
                submitBtn.attr('disabled', 'disabled')
                $('#results-container').html('<i class="fas fa-spinner fa-pulse"></i>')

                $('.card-block.exec-block').LoadingOverlay("show")

                $.ajax({
                    url: '/api/analysis/optimum_clusters_number',
                    method: 'POST',
                    data: {
                        method: $('select[name=method]').val(),
                        datasetId: $('select[name=dataset]').val(),
                        maxIterationsNumeber: $('input[name=maxIterationsNumeber]').val(),
                        pcaComponents: $('input[name=pcaComponents]').val()
                    },
                    dataType: 'json',
                    timeout: 0,
                    success: function (data) {
                        $('.card-block.exec-block').LoadingOverlay("hide")

                        submitBtn.removeAttr('disabled')
                        $('#results-container').html(data.visual)
                    },
                    error: function (err) {
                        $('.card-block.exec-block').LoadingOverlay("hide")

                        submitBtn.removeAttr('disabled')
                        alert('An unexpected error occured')
                        console.log(err)
                    }
                })
            } else alert('Please select options first')
        })
    });
</script>

{% endblock javascripts %}