{% extends "layouts/base.html" %}

{% block title %} Pivotal Analysis {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
#output table {
    margin-right: 30px;
}

.pvtAxisContainer, .pvtVals {
    background-color: white;
    border: 1px solid #f1f1f1;
}

.pvtAxisContainer li span.pvtAttr {
    background-color: #f4f7fa;
    border-radius: 2px;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"></h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Analysis</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Pivotal Analysis</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Pivotal Analysis</h5>
                            </div>
                            <div class="card-block" style="overflow-x: auto">
                                <div id="output"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var utils = $.pivotUtilities;
    var heatmap = utils.renderers["Table"];
    var sumOverSum = utils.aggregators["Sum over Sum"];

    $("#output").pivotUI(
        utils.tipsData, {
            rows: ["sex", "smoker"],
            cols: ["day", "time"],
            aggregator: sumOverSum(["tip", "total_bill"]),
            vals: ["size"],
            renderer: heatmap,
            rendererOptions: {
                    table: {
                        clickCallback: function(e, value, filters, pivotData){
                            var names = [];
                            pivotData.forEachMatchingRecord(filters,
                                function(record){ names.push(record.Name); });
                            alert(names.join("\n"));
                        }
                    }
                }
        });
</script>

{% endblock javascripts %}